<!DOCTYPE html>

<mat-toolbar color="primary" class="main-toolbar">
  <span class="app-name">Form application</span>
</mat-toolbar>
<br />

<form class="form-group" [formGroup]="exampleForm" (ngSubmit)="submit()">
    <mat-form-field appearance="fill" class="email">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="userEmail"
        placeholder="Ex. pat@example.com"
      />
      <mat-error *ngIf="exampleForm.controls['userEmail'].invalid">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="exampleForm.controls['userEmail'].touched">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <div class="name">
      <mat-form-field appearance="fill" class="left-input">
        <mat-label>First name</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          formControlName="firstName"
        />
        <mat-error *ngIf="exampleForm.controls['firstName'].invalid">
          Please enter a valid first name
        </mat-error>
        <mat-error *ngIf="exampleForm.controls['firstName'].touched">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="right-input" >
        <mat-label>Last name</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          formControlName="lastName"
        />
        <mat-error *ngIf="exampleForm.controls['lastName'].invalid">
          Please enter a valid last name
        </mat-error>
        <mat-error *ngIf="exampleForm.controls['lastName'].touched">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  
    <div class="numbers">
      <mat-form-field appearance="fill" class="left-input" >
        <mat-label>Phone number</mat-label>
        <input
          matInput
          type="text"
          class="form-control"
          formControlName="phoneNumber"
          placeholder="0985556644"
        />
        <mat-error *ngIf="exampleForm.controls['phoneNumber'].invalid">
          Please enter a valid phone number
        </mat-error>
        <mat-error *ngIf="exampleForm.controls['phoneNumber'].touched">
          Phone number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="right-input">
        <mat-label>Date of birth</mat-label>
        <input
          matInput
          class="form-control"
          [max]="maxDate"
          formControlName="dateOfBirth"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="exampleForm.controls['dateOfBirth'].touched">
          Date of birth is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  
    <mat-form-field appearance="fill" class="wish">
      <mat-label>Your wish</mat-label>
      <textarea
        matInput
        type="text"
        class="form-control"
        formControlName="wish"
      ></textarea>
    </mat-form-field>
  
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!exampleForm.valid"
    >
      Submit
    </button>
</form>
